fastapi
uvicorn[standard]
python-dotenv              
requests
streamlit
numpy
pytz
nest-asyncio

google-generativeai
langchain-google-genai
sentence-transformers

qdrant-client
flashrank

langchain
langgraph
langchain-groq
langchain-google-vertexai
langchain-community
langchain-openai
pydantic>=2.0.0

unstructured
pypdf
python-pptx
python-docx
beautifulsoup4
pdfplumber

langsmith
logfire[fastapi,requests]
loguru

nemoguardrails
langchain-nvidia-ai-endpoints

portkey-ai

ragas
deepeval
langfuse

logging